.pos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    padding: 0.5em;
    height: 100;
    color: black
}

.pos .left-wrapper {
    
    width: 60%;
    height: 100%;
    padding: 0.5em 1em 0.5em 0.5em;
}

.pos .right-wrapper {
    width: 40%;
    height: 100%;
    padding: 0.5em 1em;
    background-color: #ebebeb;
    border-radius: 3px;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

/* BUSCADOR */

.pos .search-bar {
    width: 100%;
    height: 45px;
    background-color: #fff;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.pos .search-bar i {
    margin-left: 10px;
}

.pos .search-bar input,
.pos .search-bar select {
    width: 100%;
    margin-left: 10px;
    border: 0;
    color: #505050;
    background-color: #fff;
}

.pos .search-bar input:focus,
.pos .search-bar select:focus {
    outline: none;
}

.pos .search-bar input::placeholder {
    color: #505050;
    outline: none;
}

.pos .search-bar select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* LISTAS */
.list-labels {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e6e6e6;
    padding: 1.1vw 0;
}

.pos .list-labels.right {
    border-bottom: 2px solid #dedede;
}

.pos .ean {
    width: 20%;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pos .name {
    width: 55%;
    max-width: 55%;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pos .stock {
    width: 10%;
    text-align: right;
}

.pos .pvp {
    width: 15%;
    text-align: right;
}

.pos .list-labels .label {
    font-weight: 900;
}

.pos .list-labels .label.basket {
    width: 100%;
    font-weight: 900;
    text-align: center;
}

.pos .list {
    height: calc(100% - 95px);
    overflow-y: scroll;
}

.pos .list .list-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.1vw 0;
    border-bottom: 2px solid #e6e6e6;
}

.pos .list .list-item i {
    color: var(--red)
}

.pos .list .list-item.right {
    border-bottom: 2px solid #dedede;
}

.pos .list .list-item:hover {
    background-color: #ededed;
}

/* CESTA */

.pos .list.basket-wrapper {
    height: calc(100% - 175px);
    overflow-y: scroll;
}

.pos .basket-wrapper i {
    cursor: pointer;
}

.pos .basket-wrapper .list-item .quantity-wrapper {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.pos .basket-wrapper .list-item .quantity-wrapper i {
    color: var(--second-color-2)
}

.pos .basket-wrapper .list-item .name {
    width: 55%;
    padding-left: 20px;
}

.pos .basket-wrapper .list-item .pvp {
    width: 20%;
    text-align: right;
}

.pos .basket-wrapper .list-item>i {
    width: 10%;
    text-align: right;
}

/* PAGO */

.pos .pay-zone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.pos .pay-zone .pay-button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: #41af4b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 3px;
}

