<div class="main-container">
    <div class="text-container">
        <h1>Hey! How cool having you here.</h1>
        <br>
        <br>
        <h2>So you want to embrace the amazing journey of being part of this select club of book bookers, drinks drinkers and love lovers? That's sweet.</h2>
        <h3>Unfortunately, we are still working on that. But in the meantime, you can contact our <strong>admin</strong>, or just
            substitute him, that's up to you.</h3>
        <button mat-flat-button color="primary" routerLink="/login">BACK TO LOGIN</button>
    </div>
</div>